@import "react-toastify/dist/ReactToastify.css";
@import "bootstrap/dist/css/bootstrap.min.css";

html,
body #root {
  height: 100%;
  width: 100%;
  background-color: black;
}

#layout-header nav button {
  margin-left: 1rem;
  margin: 1rem;
}
.imgLogo {
  width: 75%;
  padding: 4px;
  margin: 4px;
}

.button-count {
  align-content: space-between;
  margin: 1rem;
}
.first_button {
  margin: 1rem;
}
#p {
  margin: 1rem;
}

.menu-btn {
  justify-content: flex-end;
}

#h2 {
  font-family: "Courier New", Courier, monospace;
  margin: 1rem;
  color: palevioletred;
}

#page_footer {
  padding: 1rem;
  background: radial-gradient(
    circle,
    rgb(40, 40, 40) 0%,
    rgb(228, 187, 228) 100%
  );
  text-align: center;
  position: relative;
}
.text-Footer {
  text-align: -webkit-left;
}

main {
  flex-grow: 1;
}
.Carousel {
  width: 100%;
}
.container {
  margin-block: auto;
}
.card {
  background-color: rgb(228, 187, 228);
  font-family: "Courier New", Courier, monospace;
}

.material-icons {
  color: white;
}

.small_text {
  font-size: 12px;
}
.SobreNosotros{
  color: white;
  font-style: oblique;
  font-family: initial;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  padding: 2rem;
  margin: 4rem;
}
.text-decoration{
  padding: 2rem;
}
.text-h1{
  padding: 2rem;
}

.formulario{
  padding: 3rem;
  min-height: 800px;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto", sans-serif;
}
#enviarInfo {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  width: fit-content;
  text-transform: uppercase;
  letter-spacing: 8px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
}